@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

/*переменные*/
/*стили для тела сайта*/
body {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: black;
  width: 729px;
  margin-top: 44px;
}

h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: black;
  margin-bottom: 8px;
}

.centering {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.styles-input, .cart-order-buttons, .cart-order__button, .cart-order__cart-button, .filter-form__button, .footer-form__input, .header__search {
  border: 1px solid;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
}

/*стили для шапки*/
.top-index {
  background-image: url("images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  color: white;
  padding-bottom: 374px;
}

h1 {
  width: 75vw;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin-top: 64px;
  margin-bottom: 16px;
}

.header {
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid white;
}

.header__logo {
  width: 198px;
  height: 44px;
}

.header__search {
  background-color: transparent;
  border-color: white;
  padding-left: 32px;
  padding-right: 32px;
  width: 288px;
  height: 41px;
  outline: none;
}
.header__search::-moz-placeholder {
  color: white;
  font-size: 16px;
}
.header__search::placeholder {
  color: white;
  font-size: 16px;
}
.header__search:focus {
  background-color: rgba(222, 215, 215, 0.41);
}
.header__search[type=text] {
  color: white;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  position: relative;
}

.header__link {
  font-size: 16px;
  line-height: 20px;
  margin-left: 12px;
  color: white;
}

.header__nav-mobile {
  display: none;
}

.top-index__description {
  height: 289px;
}

.top-index__text {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}

.top-index__goto-catalog {
  font-size: 16px;
  line-height: 24px;
  color: white;
  text-decoration: underline;
}
.top-index__goto-catalog:hover {
  text-decoration: none;
}

/*стили для блока Мебель для...*/
.furniture {
  margin-bottom: 25px;
}

.furniture__container {
  margin-top: 32px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}

.furniture__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 415px;
  grid-column: span 4;
}

.furniture__item_first {
  grid-column: span 6;
}

.furniture__item_1 {
  background-image: url("images/for-1.png");
}

.furniture__item_2 {
  background-image: url("images/for-2.png");
}

.furniture__item_3 {
  background-image: url("images/for-3.png");
}

.furniture__item_4 {
  background-image: url("images/for-4.png");
}

.furniture__item_5 {
  background-image: url("images/for-5.png");
}

.furniture__text {
  color: white;
  font-size: 34px;
  font-weight: 500;
}

/*стили для блока Специальные предложения*/
.special-goods {
  margin-bottom: 25px;
}

.special-goods__content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 32px;
  gap: 48px 32px;
}

.special-goods__card, .goods-list__card, .goods__card {
  grid-column: span 4;
  height: 377px;
  position: relative;
}
.special-goods__card:hover .special-goods__card-icons, .special-goods__card:hover .goods-list__card-icons, .goods-list__card:hover .special-goods__card-icons, .goods-list__card:hover .goods-list__card-icons, .special-goods__card:hover .goods__card-icons, .goods-list__card:hover .goods__card-icons, .goods__card:hover .special-goods__card-icons, .goods__card:hover .goods-list__card-icons, .goods__card:hover .goods__card-icons {
  opacity: 1;
}

.special-goods__img {
  order: 2;
  margin-bottom: 10px;
  width: 100%;
}

.special-goods__card-icons, .goods-list__card-icons, .goods__card-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  gap: 21px;
  opacity: 0;
}

.special-goods__text {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
}

.special-goods__price {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.special-goods__new-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}

.special-goods__old-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #888888;
}

/*стили для блока Каталог товаров*/
.goods {
  margin-bottom: 25px;
}

.goods__content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 32px;
  gap: 48px 32px;
}

.goods__card:hover .goods__card-icons {
  opacity: 1;
  transition: opacity 0.25s;
}

.goods__img {
  margin-bottom: 10px;
  width: 100%;
}

.goods__text {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
}

.goods__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}

.link-box {
  margin-top: 32px;
  margin-bottom: 64px;
}

.link-box__goto-catalog {
  font-size: 16px;
  line-height: 24px;
  color: black;
  text-decoration: underline;
}
.link-box__goto-catalog:hover {
  color: #888;
  text-decoration: none;
  transition: 0.25s;
}

/*стили для подвала сайта*/
footer {
  height: 207px;
  padding-top: 32px;
  background-color: #F7F6F6;
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  width: 198px;
  height: 44px;
  margin-top: 23px;
}

.footer-content {
  display: flex;
  flex-direction: row;
}

.footer-content__info {
  display: flex;
  flex-direction: row;
  gap: 129px;
}
.footer-content__info a:hover {
  text-decoration: none;
  color: black;
  transition: 0.25s;
}

.footer-content__menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-content__contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-content__icons {
  display: flex;
  gap: 20px;
}

.footer-content__icon:hover path {
  fill: black;
  transition: fill 0.25s;
}

h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: black;
}

.footer-content__links {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
}

.footer-form {
  display: flex;
  flex-direction: column;
  width: 260px;
  padding-left: 192px;
}

.footer-form__news {
  font-size: 12px;
  color: black;
  padding-bottom: 8px;
}

.footer-form__input {
  background: white;
  border-color: #c4c4c4;
  width: 260px;
  height: 40px;
  margin-bottom: 8px;
  padding-left: 17px;
  padding-right: 17px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #c4c4c4;
  outline: none;
}
.footer-form__input::-moz-placeholder {
  color: #C4C4C4;
}
.footer-form__input::placeholder {
  color: #C4C4C4;
}

.footer-form__button {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid rgba(222, 215, 215, 0.41);
  box-sizing: border-box;
  border-radius: 20px;
  width: 260px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}
.footer-form__button:hover {
  background-color: black;
  color: white;
  transition: 0.25s;
}

/*подключение дополнительных файлов*/
/*стили для шапки*/
.top-catalog {
  height: 400px;
  background-image: url("images/header-catalog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  color: white;
}

h1 {
  width: 760px;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin-top: 64px;
  margin-bottom: 16px;
}

.header {
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid white;
}

/*список товаров*/
.goods-list {
  margin-top: 61px;
  margin-bottom: 25px;
}

.goods-list .goods-list__card {
  max-width: 100%;
}

.goods-list__content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 47px;
}

.goods-list__card:hover .goods-list__card-icons {
  opacity: 1;
  transition: opacity 0.25s;
}

h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  width: 729px;
  margin-top: 44px;
}

h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 8px;
}

.goods-list__img {
  margin-bottom: 10px;
  width: 100%;
}

.goods-list__text {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
}

.goods-list__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}

.link-box {
  margin-top: 32px;
  margin-bottom: 64px;
}

.link-box__show {
  font-size: 16px;
  line-height: 24px;
  color: black;
  text-decoration: underline;
}
.link-box__show:hover {
  text-decoration: none;
}

/*верхняя строка над списком товаров*/
.goods-list__top {
  margin-top: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goods-list__breadcrumbs {
  display: flex;
}
.goods-list__breadcrumbs .goods-list__crumb {
  padding-right: 10px;
  color: black;
}

.goods-list__order-items, .goods-list__filters-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: white;
  border: 1px solid #C4C4C4;
  padding-left: 23px;
  padding-right: 54px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  border-radius: 17px;
  background-image: url(images/filter-arrow.svg);
  background-position: calc(100% - 20px);
  background-size: 20px;
  background-repeat: no-repeat;
}

.goods-list__filters {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.goods-list__filters-button {
  font-weight: 500;
}

/*стили для формы фильтрации*/
.filter-form {
  position: absolute;
  margin-top: 14px;
  padding: 40px;
  right: 215px;
  z-index: 3;
  background-color: white;
  font-size: 14px;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
}

.filter-form__container {
  display: grid;
  grid-template-columns: 190px 155px;
  justify-content: space-between;
  gap: 32px 65px;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.filter-form__legend {
  color: #050505;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 14px;
}

/*сроки доставки*/
.filter-form__delivery {
  margin-bottom: 32px;
  position: relative;
}

.filter-form__radio-container {
  display: flex;
  align-items: center;
}

.filter-form__radio {
  display: none;
}

.filter-form__radio-label {
  margin-left: 29px;
}
.filter-form__radio-label::before {
  content: "";
  width: 15px;
  height: 15px;
  border: 1px solid #888888;
  border-radius: 60%;
  position: absolute;
  left: 0;
  background-color: white;
}
.filter-form__radio:checked + .filter-form__radio-label::before {
  border-color: black;
  background-image: url("images/check-black.png");
  background-repeat: no-repeat;
  background-position: center;
}

/*цена*/
.filter-form__price {
  margin-bottom: 32px;
  position: relative;
}

.price__container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.price__container-label {
  padding-left: 0;
  margin-bottom: 14px;
}

.price__container-range {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  position: relative;
  height: 20px;
  width: 210px;
  display: inline-block;
  margin-top: -5px;
}

.price__container-range input {
  position: absolute;
}

.price__container-range_input {
  width: 190px;
  height: 10px;
  overflow: hidden;
  outline: none;
  -webkit-appearance: none;
  background: none;
}
.price__container-range_input::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: none;
  width: 190px;
  height: 1px;
  background: black;
}
.price__container-range_input:nth-child(2)::-webkit-slider-runnable-track {
  background: none;
}
.price__container-range_input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: none;
  position: relative;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  background: black;
  border: 1px solid black;
  border-radius: 25px;
  cursor: pointer;
  z-index: 1;
}
.price__container-range_input::-webkit-slider-thumb:active {
  cursor: grabbing;
}
.price__container-range_input:nth-child(1)::-webkit-slider-thumb {
  z-index: 2;
}

/*цвет*/
.filter-form__color {
  margin-bottom: 32px;
  position: relative;
}

.filter-form__color-container {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.color-checkbox {
  display: none;
}

.filter-form__color-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  width: 15px;
  height: 15px;
}
.filter-form__color-label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #888888;
  position: absolute;
  left: 0;
}
.color-checkbox:checked + .filter-form__color-label::before {
  background-image: url("images/check-black.png");
  background-repeat: no-repeat;
  background-position: center;
  border-color: black;
}

.filter-form__label-white::before {
  background-color: white;
  border-color: grey;
}

.filter-form__label-black::before {
  background-color: black;
  border-color: black;
}

.filter-form__label-grey::before {
  background-color: grey;
  border-color: grey;
}

.filter-form__label-red::before {
  background-color: red;
  border-color: red;
}

.filter-form__label-orange::before {
  background-color: orange;
  border-color: orange;
}

.filter-form__label-yellow::before {
  background-color: yellow;
  border-color: yellow;
}

.filter-form__label-green::before {
  background-color: green;
  border-color: green;
}

.filter-form__label-lightgreen::before {
  background-color: #1CCC97;
  border-color: #1CCC97;
}

.filter-form__label-lightblue::before {
  background-color: #009FE3;
  border-color: #009FE3;
}

.filter-form__label-blue::before {
  background-color: blue;
  border-color: blue;
}

.filter-form__label-violet::before {
  background-color: #6710D6;
  border-color: #6710D6;
}

.filter-form__label-purple::before {
  background-color: #9D0DB5;
  border-color: #9D0DB5;
}

.filter-form__label-lightpink::before {
  background-color: #D89AFF;
  border-color: #D89AFF;
}

.filter-form__label-pink::before {
  background-color: #FF65A6;
  border-color: #FF65A6;
}

/*тип комнаты*/
.filter-form__room {
  margin-bottom: 32px;
  position: relative;
}

.filter-form__room-checkbox {
  display: none;
}

.filter-form__room-label {
  margin-left: 29px;
}
.filter-form__room-label::before {
  content: "";
  width: 15px;
  height: 15px;
  border: 1px solid #888888;
  position: absolute;
  left: 0;
  background-color: white;
}
.filter-form__room-checkbox:checked + .filter-form__room-label::before {
  border-color: black;
  background-image: url("images/check-black.png");
  background-repeat: no-repeat;
  background-position: center;
}

.filter-form__button-box {
  display: grid;
  grid-template-columns: 219px 190px;
  height: 40px;
  position: relative;
}

div:empty {
  width: 219px;
}

.filter-form__button {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  width: 190px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.filter-form__button:hover {
  background-color: black;
  color: white;
  transition: 0.25s;
}

.cart-order-buttons, .cart-order__button, .cart-order__cart-button {
  border-color: black;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
}

/*стили для шапки*/
.top-cart {
  height: 400px;
  background-image: url("images/header-cart.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  color: white;
}

h1 {
  width: 760px;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin-top: 64px;
  margin-bottom: 16px;
}

.header {
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid white;
}

/*стили для содержимого корзины и формы заказа*/
.cart-order {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}

/*корзина*/
.cart-order__cart {
  grid-column: span 8;
}

.cart-order__cart-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cart-order__cart-items {
  display: grid;
  grid-column: span 8;
}

.cart-order__cart-item {
  display: flex;
  border-top: 1px solid #CACDD8;
  flex-direction: row;
  margin-top: 32px;
  padding-top: 32px;
}

.cart-order__cart-img {
  width: 173px;
  height: 173px;
}

.cart-order__cart-descr {
  height: 173px;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "Montserrat", sans-serif;
}
.cart-order__cart-descr .cart-order__cart-h3 {
  font-size: 24px;
  font-weight: 500;
}
.cart-order__cart-descr .cart-order__cart-prc {
  font-size: 16px;
  font-weight: 500;
}
.cart-order__cart-descr .cart-order__cart-lnk {
  font-size: 14px;
  text-decoration: underline;
  margin-right: 30px;
}
.cart-order__cart-descr .cart-order__cart-lnk:hover {
  text-decoration: none;
}

.cart-order__cart-text {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
  width: 276px;
}

.cart-order__cart-links {
  flex-direction: row;
}

.cart-order__cart-number {
  width: 71px;
  height: 51px;
  background-color: #F7F6F6;
  border-radius: 10px;
  border: 0.5px solid #F7F6F6;
  margin-left: 235px;
  outline: none;
}
.cart-order__cart-number::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: bold;
  text-align: center;
}
.cart-order__cart-number::placeholder {
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: bold;
  text-align: center;
}
.cart-order__cart-number:focus {
  text-align: center;
}

.cart-order__cart-buttons {
  margin-top: 50px;
  display: flex;
}

.cart-order__cart-button {
  margin-right: 7px;
  width: 200px;
  height: 37px;
  font-size: 14px;
}
.cart-order__cart-button:hover {
  background-color: black;
  color: white;
  transition: 0.25s;
}

/*заказ*/
.cart-order__order {
  background-color: #F7F6F6;
  grid-column: span 4;
  align-items: center;
  padding-top: 42px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 25px;
}

.cart-order__order-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.cart-order__order-h3 {
  font-weight: bold;
  text-align: center;
  font-size: 24px;
}

.cart-order__order-input {
  background-color: transparent;
  border-bottom: 0.5px solid #CACDD8;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  width: 100%;
  height: 20px;
  outline: none;
}

.cart-order__order-total {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.cart-order__order-sum {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cart-order__order-text {
  font-size: 24px;
  margin-right: 10px;
}

.cart-order__order-text-b {
  font-size: 24px;
  font-weight: 500;
}

.cart-order__button {
  width: 100%;
  height: 40px;
  font-size: 16px;
  animation: button-animation 5s ease 0s 1 normal forwards;
}
.cart-order__button:hover {
  background-color: black;
  color: white;
  transition: 0.25s;
}

@keyframes button-animation {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }
  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }
  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }
  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }
  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}
@media (max-width: 1024px) { /*для планшетов*/
  .centering {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .goods .goods__content {
    gap: 38px 29px;
  }
  .header__nav-mobile {
    display: none;
  }
  /*шапка главная*/
  .top-index {
    background-image: url("images/header-tablet.jpg");
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  /*шапка каталог*/
  .top-catalog {
    background-image: url("images/header-catalog-tablet.jpg");
  }
  /*шапка корзина*/
  /*блок Мебель для...*/
  /*специальные предложения*/
  .special-goods__content {
    grid-template-columns: repeat(8, 1fr);
    gap: 38px 29px;
  }
  .goods__content {
    grid-template-columns: repeat(8, 1fr);
  }
  /*каталог товаров*/
  .goods-list__content {
    grid-template-columns: repeat(8, 1fr);
  }
  .filter-form {
    right: 0;
  }
  /*Корзина и форма заказа*/
  .cart-order {
    grid-template-columns: repeat(8, 1fr);
    gap: 64px;
  }
  .cart-order__cart-item {
    display: flex;
    justify-content: space-between;
  }
  .cart-order__order {
    width: 40vw;
    display: flex;
    flex-direction: column;
  }
  .cart-order__button {
    margin-bottom: 15vh;
  }
  /*подвал сайта*/
  footer {
    display: flex;
    justify-content: space-between;
  }
  .footer-logo {
    display: none;
  }
  .furniture__item, .furniture__item_1, .furniture__item_2,
  .furniture__item_3, .furniture__item_4, .furniture__item_5 {
    height: 268px;
    width: auto;
  }
}
@media (max-width: 767px) { /*для смартфонов*/
  .centering {
    padding-left: calc(50% - 172px);
    padding-right: calc(50% - 172px);
  }
  h2 {
    font-size: 24px;
    width: 212px;
    margin-top: 32px;
    margin-bottom: 32px;
    line-height: 110%;
  }
  h3 {
    font-size: 18px;
  }
  /*шапка главная*/
  .top-index {
    background-image: url("images/header-mobile.jpg");
    display: flex;
    flex-direction: column;
  }
  .header {
    padding-top: 32px;
    border-bottom: none;
  }
  .header__logo {
    width: 99px;
  }
  .header__search {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .header__nav-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }
  .top-index__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  h1 {
    font-size: 48px;
    margin-top: 29px;
    width: 100%;
  }
  .top-index__text {
    font-size: 16px;
  }
  .top-index__goto-catalog {
    font-size: 14px;
  }
  /*шапка каталог*/
  .top-catalog {
    background-image: url("images/header-catalog-mobile.jpg");
    display: flex;
    flex-direction: column;
  }
  /*шапка корзина*/
  .top-cart {
    background-image: url("images/header-cart-mobile.jpg");
    display: flex;
    flex-direction: column;
  }
  /*блок Мебель для...*/
  .furniture__container {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-top: 0;
  }
  .furniture__item {
    grid-column: span 4;
    height: 375px;
  }
  .furniture__item_first {
    height: 244px;
  }
  .furniture__text {
    font-size: 28px;
  }
  /*специальные предложения*/
  .special-goods__content {
    grid-template-columns: repeat(4, 1fr);
  }
  .special-goods__card, .goods__card, .goods-list__card {
    align-items: center;
    max-width: 100%;
  }
  .special-goods__img {
    max-width: 100%;
  }
  .special-goods__text {
    font-size: 14px;
  }
  .special-goods__new-price {
    font-size: 18px;
  }
  .special-goods__old-price {
    font-size: 18px;
  }
  /*каталог товаров*/
  .goods .goods__card {
    max-width: 100%;
  }
  .goods__content {
    grid-template-columns: repeat(4, 1fr);
  }
  .goods__card {
    align-items: center;
    max-width: 100%;
  }
  .goods__img {
    max-width: 100%;
  }
  .goods__text {
    font-size: 14px;
  }
  .goods__price {
    font-size: 18px;
  }
  .link-box {
    margin-top: 36px;
    margin-bottom: 36px;
  }
  /*Каталог товаров на странице каталога*/
  .goods-list {
    margin-bottom: 38px;
  }
  .goods-list__content {
    grid-template-columns: repeat(4, 1fr);
  }
  .goods-list__card {
    align-items: center;
  }
  .goods-list__img {
    width: 100%;
  }
  .goods-list__top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .goods-list__breadcrumbs {
    margin-bottom: 22px;
  }
  .goods-list__crumb {
    font-size: 14px;
  }
  .goods-list__filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  .goods-list__order-items, .goods-list__filters-button {
    order: 1;
    width: 210px;
    font-size: 14px;
  }
  .goods-list__filters-button {
    order: 2;
    width: 164px;
  }
  .filter-form {
    /*position: fixed;
    left: calc(50% - 172px);
    top: -50px;
    right: calc(50% - 115px);*/
    position: absolute;
    left: 0;
    top: 0;
    max-width: 285px;
    min-width: 200px;
    margin-top: 96px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .filter-form__container {
    display: flex;
    flex-direction: column;
    gap: 0;
    max-width: 100%;
  }
  .filter-form__room {
    margin-bottom: 36px;
  }
  .filter-form__button-box > div:empty {
    display: none;
  }
  /*Корзина и форма заказа*/
  .cart-order__cart-heading {
    display: none;
  }
  .cart-order {
    display: flex;
    flex-direction: column;
  }
  .cart-order__cart-item {
    display: flex;
    justify-content: space-between;
  }
  .cart-order__cart-img {
    display: none;
  }
  .cart-order__cart-descr {
    margin-left: 0;
  }
  .cart-order__cart-number {
    margin-left: 0;
  }
  .cart-order__cart-h3 {
    font-size: 18px;
  }
  .cart-order__cart-buttons {
    gap: 14px;
  }
  .cart-order__cart-button {
    font-size: 12px;
  }
  .cart-order__order {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    padding-left: calc(50% - 172px);
    padding-right: calc(50% - 172px);
  }
  .cart-order__order-input {
    width: 100%;
  }
  .cart-order__button {
    margin-bottom: 15vh;
    width: 110%;
    align-self: center;
  }
  /*подвал сайта*/
  footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    padding-top: 32px;
    background-color: #F7F6F6;
  }
  .footer-logo {
    display: none;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 65px;
  }
  .footer-content__info {
    justify-content: space-between;
    align-items: center;
  }
  .footer-form {
    padding-left: 0;
    padding-bottom: 38px;
    max-width: 100%;
  }
}/*# sourceMappingURL=style.css.map */